body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  font-family: 'Josefin Sans', sans-serif;
}
.app {
  width: 1000px;
  /* height: 100vh; */
  background-color:rgb(243, 232, 232);
}
